# ---- Python ----
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/

# ---- Virtual env ----
.venv/
env/
.env
*.env

venv/

# ---- OS files ----
.DS_Store
Thumbs.db

# ---- IDE/editor ----
.vscode/
.idea/

# ---- Local configs/secrets ----
gcp_service_account.json

# ---- Project-specific ----
scripts/
Migration documentation.docx
~$gration documentation.docx


# Ignore testing docs
Temporal Migration Testing.docx
Temporal Migration Testing.pdf

.env
